DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=1478900357051711538
DISCORD_RESULT_CHANNEL_ID=1483057828993171609
DISCORD_ARCHIVE_CHANNEL_ID=1483057864590495875

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=claude-3-5-sonnet-20241022

GOOGLE_API_KEY=
GEMINI_MODEL=gemini-2.0-flash
